@charset "UTF-8";

/* 回答はここに書いてね */
.num_finder {
  display: table;
  margin: 0 auto;
}

.S_def {
  border-radius: 3px;
  border: 0;
  display: table-cell;
  font-size: 16px;
  height: 26px;
  padding-right: 15px;
  padding-left: 15px;
  vertical-align: middle;
  margin-left: 10px;
}

.M_def {
  border-radius: 5px;
  border: 0;
  display: table-cell;
  font-size: 20px;
  height: 32px;
  padding-right: 20px;
  padding-left: 20px;
  vertical-align: middle;
  margin-left: 10px;
}

.L_def {
  border-radius: 7px;
  border: 0;
  display: table-cell;
  font-size: 24px;
  height: 38px;
  padding-right: 25px;
  padding-left: 25px;
  vertical-align: middle;
  margin-left: 10px;
}

button:first-child
{
  background-color: #00bcd4;
  color: #fff;
  margin-left: 0;
}

button:nth-child(2){
  background-color: #ff4081;
  color: #fff;
}

button:nth-child(3) {
  background-color: #e5e5e5;
  color: #fff;
}

button:last-child {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .12),
              0 1px 4px rgba(0, 0, 0, .12);
  border-collapse: separate;
}
/* 回答はここに書いてね */
