@charset "UTF-8";

/* 回答はここに書いてね */
.baloon {
  width: 500px;
  border-radius: 30px;
  border: 5px solid #222;
  padding: 20px;
  margin: 0 auto;
  position: relative;
}

.baloon:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border: 20px solid transparent;
  border-top-color: #222;
  /*border-top: 20px solid #222;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;*/
  top:157px;
  left: 30px;
}

.baloon:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border: 20px solid transparent;
  border-top-color: #fff;
  /*border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;*/
  top:150px;
  left: 30px;
}
/* 回答はここに書いてね */
