@charset "UTF-8";

/* 回答はここに書いてね */
.table {
  display: table;
  margin: auto;
  width: 100%;
}

.Stable {
  display: table-cell;
  padding: 20px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
}

.stable_2 {
  display: table-cell;
  width: 500px;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

.flexible {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 20px;
}

.LightOrange {
  background-color: #fdc8d8;
}

.Light_purple {
  background-color: #e0abd9;
}

.Light_Blue {
  background-color: #b6d8ed;
}

.Deep_Yellow {
  background-color: #e5d32e;
}

.Light_Yellow {
  background-color: #e4e67c;
}

.Light_Green {
  background-color: #8fdcad;
}
/* 回答はここに書いてね */
